ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }
          img{
              margin-top: -10px;
          }
          p small{
              text-decoration: underline;
              font-family: lato;
          }
          li small{
              font-family: cursive;
          }
          li{
              
              
          }
          button{
              margin-top: 20px; 
          }
          .fa {
              padding: 10px;
              font-size: 18px;
               width: 40px;
              text-align: center;
              text-decoration: none;
             margin: 2px 2px;
            }
          img{
              height: 200px;
              width: 200px;
              padding: 10px;
              
          }
          .checked {
                    color: gold;
                   }
        
  